<div class="row" style="margin-left: 0;">
    <ul class="slides col-md-12 col-xs-12" style="height: 80vh;margin-top: 70px">
        <div ng-repeat="item in slide">
            <input type="radio" name="radio-btn" id="{{item.id}}" checked />
            <li class="slide-container">
                <div class="slide" style="width: 100%">
                    <img src="{{item.img}}" />
                </div>
                <div class="nav">
                    <label for="{{item.for1}}" class="prev">&#x2039;</label>
                    <label for="{{item.for2}}" class="next">&#x203a;</label>
                </div>
            </li>
        </div>

        <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            <label for="img-5" class="nav-dot" id="img-dot-5"></label>
            <label for="img-6" class="nav-dot" id="img-dot-6"></label>
        </li>
    </ul>
</div>

<div class="row" style="margin-top: 40px;margin-left: 2px">
    <div class="col-md-12 text-center">
        <h2>Ürün Grupları</h2>
        <hr class="hr">
    </div>
    <div class="col-md-3 bottom-div" ng-repeat="item in bottomMenu">
        <img src="{{item.img}}" class="bottom-img">
        <div class="bottom-menu">
            <h4>{{item.title}}</h4>
            <p>
                {{item.content}}
            </p>
        </div>
    </div>
</div>
<div class="hr" style="width: 100%; color: #0D3349;margin-bottom: 30px;margin-top: 20px;"></div>
<div class="container">
    <div class="text-center col-md-offset-2 col-md-8">
        <img width="30%" src="images/logo.png">
        <p style="margin-top: 50px; font-family: 'Bitstream Vera Sans'; font-weight: 900">
            Dünya bir ilki gerçekleştiren firmamız; ferforje üretimine standardizasyon getirmek ve kaliteyi arttırmak için robot teknolojisi ile ferforje üretimi gerçekleştirmektedir. Geliştirdiğimiz alt yapımız ve otomasyonlarla, ferforje modellerin üretimleri hızlanarak müşterilerimize hem ekonomik hemde kaliteli işçilik sağlamıştır.
        </p>
    </div>
</div>